<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {% include head.html %}
  
  {% if page.d3 == "yes" %}
    {% include d3.html %}
  {% endif %}

  <body>
    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
      {% if page.comments == "yes" %}
        {% include giscus.html %}
        <div class="giscus wrapper" style="margin-top: 2em; padding-top: 2em; border-top-style: dotted;"/>
      {% endif %}
      </main>

    {% include footer.html %}
    
    {% if page.mathjax == "yes" %}
      {% include mathjax.html %}
    {% endif %}

    {% for script_path in page.custom_js %}
      <script src="/assets/js/{{script_path}}"></script>
    {% endfor %}
  </body>
</html>
